@charset "UTF-8";
/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(173, 241, 171);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkgreen;
}
h1#principal {
    text-align: center;
    background-color: darkgreen;
    color: rgb(173, 241, 171);
}
h2{
    color: green;
}
.basico{
    color: green;
}

.intermediario{
    color: blueviolet
}
.avançado{
    color: red
}
.destaque{
    background-color: rgba(172, 172, 83, 0.418);
}

